main {
  background: #fbf8ec;
  .delivery {
    background: var(--main-surface, #fff);
    background-image: url(./img/pattern.png);
    opacity: 0.5;
    .container {
      .delivery-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .img {
          img {
            opacity: 10000;
          }
        }
        .p1 {
          color: var(--main-on-surface, #000000);
          text-align: center;

          /* Desc/Header/L */
          font-family: Rubik;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 72px */
        }
      }
    }
  }
  .off {
    .container {
      .off-content {
        padding-bottom: 90px;
        .p1 {
          color: var(--main-on-surface, #414141);

          /* Desc/Header/M */
          font-family: Rubik;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 54px */
          padding-top: 44px;
          padding-bottom: 44px;
        }
        .text {
          display: flex;
          // justify-content: space-between;
          justify-content: center;
          flex-wrap: wrap;
          column-gap: 500px;
          align-items: center;
          .p1 {
            color: var(--main-on-surface, #414141);

            /* Desc/Header/M */
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 54px */
            padding-top: 44px;
            padding-bottom: 44px;
          }
          .p10 {
            color: var(--grayscale-hardest, #606060);

            /* Desc/Text/S */
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            text-decoration-line: none;
          }
        }
        .cards {
          display: flex;
          flex-direction: row;
          gap: 40px;
          flex-wrap: wrap;
          justify-content: center;

          .card {
            position: relative;
            border-radius: 4px;
            background: var(--main-surface, #fff);

            /* Default/XS */
            padding: 8px;
            max-width: 272px;
            .p2 {
              color: var(--main-on-surface, #414141);

              /* Desc/Text-Bold/M */
              font-family: Rubik;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 27px */
              padding-top: 8px;
            }
            .p3 {
              color: var(--main-on-surface, #414141);

              /* Desc/Text/S */
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
              padding-top: 16px;
              padding-bottom: 8px;
            }
            .heart {
              border-radius: 4px;
              opacity: 0.5;
              background: var(--grayscale-lightest, #f3f2f1);
              height: 32px;
              width: 32px;
              position: absolute;
              top: 8px;
              right: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .btn2 {
              border-radius: 4px;
              border: 1px solid var(--main-secondary, #70c05b);
              color: var(--main-secondary, #70c05b);
              text-align: center;

              /* Desc/Text/S */
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
              width: 100%;
              background-color: transparent;
              cursor: pointer;
              margin-top: 16px;
            }
            .btn2:hover {
              border-radius: 4px;
              background: var(--main-primary, #f63);
              text-align: center;
              background-color: #f63;
              border: #f63;
              color: white;
              transition: 0.5s;

              /* Desc/Text/S */
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
              width: 100%;
              cursor: pointer;
              margin-top: 16px;
            }
          }
          .card:hover {
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
            transition: 0.5s;
          }
        }
      }
    }
  }
  .advice {
    padding-bottom: 120px;
    .container {
      .advice-content {
        .p6 {
          color: var(--main-on-surface, #414141);

          /* Desc/Header/M */
          font-family: Rubik;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 54px */
          padding-bottom: 40px;
        }
        .cards {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .card {
            display: flex;
            flex-direction: row;
            gap: 21px;
            max-width: 584px;
            border-radius: 4px;
            background: var(--main-primary-muted, #fcd5ba);
            box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
            align-items: center;
            padding: 8px 31px;
            .p7 {
              color: var(--main-on-surface, #414141);

              /* Desc/Header/S */
              font-family: Rubik;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
              max-width: 258px;
            }
            .p8 {
              color: var(--main-on-surface, #414141);

              /* Desc/Text/S */
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
              max-width: 258px;
            }
          }
          .card2 {
            display: flex;
            flex-direction: row;
            gap: 21px;
            max-width: 584px;
            border-radius: 4px;
            border-radius: 4px;
            background: var(--main-secondary-muted, #e5ffde);
            align-items: center;
            padding: 8px 31px;
            .p7 {
              color: var(--main-on-surface, #414141);

              /* Desc/Header/S */
              font-family: Rubik;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
              max-width: 258px;
            }
            .p8 {
              color: var(--main-on-surface, #414141);

              /* Desc/Text/S */
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
              max-width: 258px;
            }
          }
        }
      }
    }
  }
}
